# Example configuration file XS-httpd

SystemRoot	/usr/local/lib/httpd

#ListenAddress	www.stack.nl
ListenPort	80
Instances	20
PidFile		/var/run/httpd.pid
UserId		nobody
GroupId		nogroup

ExecAsUser	true
UseSSL		false

<System>
Hostname	www.stack.nl
HtmlDir		htdocs
ExecDir		cgi-bin
LogAccess	logs/access_log
LogError	logs/error_log
LogReferer	logs/referer_log
</System>

<Users>
Hostname	www.stack.nl
HtmlDir		.html
ExecDir		cgi-bin
</Users>

<Virtual>
Hostname	www.ipv6.stack.nl
HtmlDir		/www/ipv6
ExecDir		cgi-bin
</Virtual>

