# Example configuration file XS-httpd

# A configuration file is optional, it will work without

SystemRoot	/usr/local/lib/httpd

#ListenAddress	www.stack.nl
ListenPort	http
Instances	20
PidFile		/var/run/httpd.pid
UserId		nobody
GroupId		nogroup

ExecAsUser	true
UseSSL		false

<System>
#Hostname	www.stack.nl
#HtmlDir	htdocs
#PhExecDir	cgi-bin
LogAccess	logs/access_log
LogError	logs/error_log
LogReferer	logs/referer_log
</System>

<Users>
#Hostname	www.stack.nl
#HtmlDir	.html
#ExecDir	cgi-bin
#PhExecDir	cgi-bin
</Users>

#<Virtual>
#Hostname	www.ipv6.stack.nl
#HtmlDir	/www/ipv6
#</Virtual>

