# Example configuration file XS-httpd
#
# Carefully read 'man httpd.conf' for an explanation of all settings
# The configuration file is optional, XS will work without

SystemRoot	/usr/local/lib/httpd

PidFile		/var/run/httpd.pid
VirtualHostDir	vhosts

<Socket>
# ListenAddress	www.stack.nl
ListenPort	http
ListenFamily	IPv4
Instances	20
UseSSL		false
</Socket>

<System>
UserId		nobody
GroupId		nogroup
# Hostname	www.stack.nl
# HtmlDir	htdocs
# PhExecDir	cgi-bin
# IndexFiles	index.html, index.htm, index.php
LogAccess	logs/access_log
LogError	logs/error_log
LogScript	logs/script_log
LogStyle	virtual
</System>

<Users>
# HtmlDir	.html
</Users>

# <Virtual>
# Hostname	www.ipv6.stack.nl
# HtmlDir	/www/ipv6
# </Virtual>

